@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&display=swap');




/* Css Variables */
:root {
    /* Colors */
        /* Primary */
        --light-cyan: #3d8168;
        --dark-cyan: #1a4031;
        --cream: hsl(30, 38%, 92%);
        /* Neutral */
        --very-dark-blue: hsl(212, 21%, 14%);
        --dark-grayish-blue: hsl(228, 12%, 48%);
        --white: hsl(0, 0%, 100%);

    /* Fonts */
    --Montserrat: 'Montserrat', sans-serif;
    --Fraunces: 'Fraunces', sans-serif;
    --bold: 700;
    --medium: 500;
    --paragraph-font-size: 1.4rem;
}



/* Css Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}




html {
    font-size: 62.5%;
}

body {
    background-color: var(--cream);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    position: relative;
}

.card {
    margin: 10rem 0;
    background-color: var(--white);
    width: 90%;
    max-width: 340px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (min-width: 1110px) {
    .card {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        max-width: 600px;
        max-height: 450px;
    }
}




/* Image */
.card__image-container {
    width: 100%;
    height: 100%;
}

.card__image {
    display: block;
}

.card__image-perfume {
    width: 100%;
}

@media screen and (min-width: 1110px) {
    .card__image-container {
        min-width: 300px;
    }
}



/* Card body */
.card__body {
    padding: 2.5rem;
}

.card__product-category {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    font-family: var(--Montserrat);
    color: var(--dark-grayish-blue);
    text-transform: uppercase;
    letter-spacing: 5px;
}

.card__product-name {
    font-size: 3rem;
    font-family: var(--Fraunces);
    margin-bottom: 2rem;
    font-weight: var(--bold);
}

.card__product-description {
    font-size: 1.4rem;
    font-family: var(--Montserrat);
    color: var(--dark-grayish-blue);
    line-height: 1.5;
    margin-bottom: 2rem;
}

.card__product-price {
    font-size: 3.5rem;
    color: var(--light-cyan);
    font-family: var(--Fraunces);
    margin-bottom: 2rem;
    display: inline-block;
}

.card__product-price-line-through {
    display: inline-block;
    margin-left: 1.8rem;
    position: relative;
    bottom: 1rem;
    font-family: var(--Montserrat);
    font-size: 1.3rem;
    text-decoration: line-through;
    color: var(--dark-grayish-blue);
}

@media screen and (min-width: 1110px) {
    .card__body {
        padding: 3rem;
    }

    .card__product-name {
        font-size: 3.2rem;
    }

    .card__product-description {
        margin-bottom: 3.5rem;
    }

    .card__product-price {
        margin-bottom: 3rem;
    }
}



/* Card Button */
.card__button {
    background-color: var(--light-cyan);
    border-radius: 10px;
    border: none;
    display: block;
    padding: 1.6rem;
    width: 100%;
    cursor: pointer;
    transition: 0.5s ease;
}

.card__button:hover {
    background-color: var(--dark-cyan);
    transform: translateY(-1px);
}

.card__button-text {
    font-size: 1.4rem;
    font-weight: var(--bold);
    letter-spacing: 1px;
    font-family: var(--Montserrat);
    color: var(--white);
}

.card__button-icon {
    position: relative;
    right: 0.8rem;
    top: 0.2rem;
}




/* Attribution */
.attribution {
    font-family: var(--Montserrat);
    font-size: 1.2rem;
    position: absolute;
    bottom: 1rem;
}

.attribution a {
    color: var(--light-cyan);
}